.header {
    margin: 25px;
    font-size: 150%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 1%;
}
.subheader {
    margin-left: 20px;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #88bdbc;
}

.h1_1 {
    text-align: center;
    font-size: 140%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: #112d32;
    border-radius: 20px;
    padding: 10px;
    margin-left: 80px;
    margin-right: 80px;
    color: #a2c6cf
}

.h1_2 {
    font-size: 120%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: #a2c6cf;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
li {
    margin-left: 40px;
}
div {
    border-radius: 20px;
    padding: 10px;
    background-color: #5e8b89;
    font-size: 120%;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    margin: 20px;
}

.p1 {
    margin-left: 60px;
}

.p_href {
    border: none;
    font-size: 60%;
    flex-direction: row;
    justify-content: center;
    /* border-color: #a2c6cf; */
    background: #a2c6cf;
    /* color: #112d32; */
    padding: 10%;
    border-radius: 15px;
    transition: 0.25s;
    --color: #112d32;
    --hover: #3d646d;
}

.p_href:hover, .p_href:focus {  
    color: #ffffff;
    box-shadow: inset -4.5em 0 0 0 var(--hover), inset 4.5em 0 0 0 var(--hover);
}

.img_cat {
    margin: auto;
    width: 90%;
    height: 50%;
    border-radius: 20px;
}

.cats {
    margin: auto;
    width: 45%;
    height: 45%;
    border-radius: 20px;
}



.content-left {
    /* justify-content: space-between; */
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    width: 45%;
}

.content-right {
    width: 45%;
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap
}

.content {
    justify-content: space-between;
    background-color: #88bdbc;
    /* border:2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-links {
    font-size: 150%;
    margin-left: 20%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    width: 60%;
}


/* ТРЕТЬЯ ЛАБА */
.container {
    background-color: #88bdbc;
    padding-left: 45%;
}
.block {
    width: 200px;
    height: 200px;
    background-color: orangered;
}
.squareCat {
    border-radius: 20px;
    margin: 20px;
    width: 220px;
    height: 220px;
}
.container2 {
    background-color: #88bdbc;
    padding-left: 45%;
    padding-top: 20%;
    padding-bottom: 20%;
}
.block2 {
    width: 200px;
    height: 200px;
    background-color: orangered;
}
.container3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid red;
    background-color: #88bdbc;
}
.block3 {
    width: 200px;
    height: 200px;
    background-color: black;
}
.container4 {
    background-color: #88bdbc;
}
.block4 {
    width: 200px;
    height: 200px;
    background-color: none;
    border: 5px solid red;
    position: relative;
    left: 800px;
    bottom: 0px;
    top: 200px;
    right: 0px;
}
.contblock4 {
    width: 200px;
    height: 200px;
    background-color: none;
    border: 5px solid blue;
    position: relative;
    left: 900px;
    bottom: 0px;
    top: 100px;
    right: 0px;
}
.blockcont4 {
    width: 200px;
    height: 200px;
    background-color: none;
    border: 5px solid green;
    position: relative;
    left: 1000px;
    bottom: 0px;
    top: 0px;
    right: 0px;
}
.squareCat2 {
    border-radius: 20px;
    position: fixed;
    top: 80%;
    left: 85%;
    right: 0%;
    bottom: 0%;
}